<ion-header class="MyHeader" >
  <ion-toolbar>
    <ion-buttons>
     <ion-back-button class="btn" slot="start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
 </ion-header>
 <ion-header class="header2" #header >
  <ion-toolbar  color="primary">
    <ion-buttons>
     <ion-back-button class="btn" slot="start"></ion-back-button>
   
    </ion-buttons>
    <ion-segment [(ngModel)]="page">
      <ion-segment-button *ngFor="let data of Category" value="data.CategoryId" (click)="selectedtab(data.CategoryId)">
     <ion-label>
      {{data.CategoryName}}
     </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  </ion-header>
  
 <ion-content [scrollEvents]="true" (ionScroll)="logscrolling($event)"  (ionStartScroll)="scrollstart(header)">
  <ion-card class="StoreHeader" [ngStyle]="{'background-image':'url('+storeData.Image+')'}">
  </ion-card>
  <h3>{{storeData.Name}}</h3>
  <ion-card  *ngFor="let data of Category" >
    <ion-header>
      <h2> {{data.CategoryName}}</h2>
    </ion-header>
     <ion-list *ngFor="let sub of Getsubcat(data.CategoryId)">
       <ion-header>
        <h4>{{sub.SubCatName}}</h4>
       </ion-header>
       <ion-item *ngFor="let Prod of Getproduct(sub.SubCategoryId)" >
         <div class="media post_item">
           <img src="assets/Imgs/cement/images (2).jpeg"   style="width: 70px; height: 100px;" alt="post">
           <div class="media-body">           
                   <h3>{{Prod.Name}}</h3>                
               <p>{{Prod.Description}} </p>
               <small class="text-muted">R {{Prod.UnitCost}}</small>
           </div>
       </div>
       </ion-item>
     </ion-list>
   </ion-card>
 <!-- <ion-slides #slider (ionSlideWillChange)="movebuttones($event)" verticalSlide>
   <ion-slide  *ngFor="let data of Category" >
    <ion-header>
      <h2> {{data.CategoryName}}</h2>
    </ion-header>
     <ion-list *ngFor="let sub of Getsubcat(data.CategoryId)">
       <ion-header>
        <h4>{{sub.SubCatName}}</h4>
       </ion-header>
       <ion-item [routerLink]="['/product-detail']">
         <div class="media post_item">
           <img src="assets/Imgs/cement/images (2).jpeg"   style="width: 70px; height: 100px;" alt="post">
           <div class="media-body">           
                   <h3>PPC Cement</h3>                
               <p>50 Kg Cement perfect for pavements </p>
               <small class="text-muted">R 95,99</small>
           </div>
       </div>
       </ion-item>
     </ion-list>
   </ion-slide>
 </ion-slides> -->
 </ion-content>