<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mano</ion-title>
  </ion-toolbar>
</ion-header>
 
<!-- <ion-content padding>
  Welcome to the members only area!
 
  <p>{{ data }}</p>
 
  <ion-button expand="full" (click)="loadSpecialInfo()">Load Special Info</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>
 
</ion-content> -->
<ion-button expand="full" (click)="logout()">Logout</ion-button>
<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Account">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>